*,*::before, *::after   {
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
}

body {
    background: radial-gradient(#00d4ff,#090979);
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;

}

.container-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
    grid-gap: 3px

}

.output {
    background-color: rgba(0,0,0,.75);
    padding: 15px;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 5px;
    border-top-right-radius: 20px;
    word-wrap: break-word;
    word-break: break-all;
}

.upper {
    color: #eee;
    opacity: 0.9;
    font-size: 1.2em;
}
.lower {
    color: white;
    font-size: 2em;
}

.btn {
    background-color: rgba(255,255,255,.8);
    cursor: pointer;
    font-size: 30px;
    outline: none;
    border: 1px;
}

.btn:hover {
    transform: scale(1.05);
    background-color: rgba(255,255,255,.6);
    transition: 200ms linear;
}

.span-2 {
    grid-column: span 2;
}

.ac {
    background: rgba(140,23,23,.8);
}

.ac:hover {
    background: rgba(140,23,23,.6);
}

.equal {
    background: rgba(212,75,0,.8);
    border-bottom-right-radius: 20px;
}

.equal:hover {
    background: rgba(212,75,0,.6);
}


/*-----------------------------------*/
.main-logo {
    border-radius: 10px;
}

.navbar-dark {
    background-color:  rgba(0,0,0,.85);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.row-content {
    margin: opx auto;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: rgba(0,0,0,.85);
    min-height: 70px;

    
}

.box {
    margin: 0px 0px;
    padding: 15px 10px;
    display: grid;
    grid-template-rows: minmax(35px,auto) repeat(1, 35px);
    /* grid-template-columns: minmax(200px,auto) repeat(1,200px); */
    width: 100%;
    height: 100%;
    border: solid;
    justify-content: end;
}

.done-by {
    color: wheat;
    font-weight: 700;
    font-size: 25px;
    border: solid green;
}

#name {
    /* border: solid red; */
    color: rgba(212,75,0,.6);
    font-weight: 500;
    font-size: larger;
}

#email {
    /* border: solid orange; */
    color: rgba(212,75,0,.6);
    font-weight: 500;
    font-size: larger;
}
